image:
  repository: docker.io/supporttools/website
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: ${IMAGE_TAG}

imagePullSecrets: []

ingress:
  host: support.tools

autoscaling:
  minReplicas: 5
  maxReplicas: 15
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: 80
  enabled: true

resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 10m
    memory: 64Mi