{{ define "main" }}
<article>
  <h1>{{ .Title }}</h1>
  <ul class="posts-list">
    {{ range .Paginator.Pages }}
    {{ if . }}
    <li class="posts-list-item">
      <a class="posts-list-item-title" href="{{ .Permalink }}">{{ .Title }}</a>
      <span class="posts-list-item-description">
        {{ partial "icon.html" (dict "ctx" $ "name" "calendar") }}
        {{ .PublishDate.Format "Jan 2, 2006" }}
        -
        {{ partial "icon.html" (dict "ctx" $ "name" "clock") }}
        {{ if .ReadingTime }}{{ .ReadingTime }} min read{{ else }}1 min read{{ end }}
      </span>
    </li>
    {{ end }}
    {{ end }}
  </ul>
  {{ partial "pagination.html" $ }}
</article>
{{ end }}